.title {
    margin: 0;
    text-align: center;
}
.queries {
    padding-top: 270px;
    padding-bottom: 20px;
    text-align: center;
}

.query {
    margin: 20px 50px;
    margin-bottom: 0;
    border: 1px solid #005bff;
    border-radius: 15px;
    overflow: hidden;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 50px;
    margin: 0;
    padding: 10px;
    padding-left: 35px;
    border-bottom: 1px solid #005bff;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    user-select: none;
    cursor: pointer;

    &::before {
        content: '';
        position: absolute;
        left: 10px;
        width: 20px;
        height: 20px;
        background: url('./images/star-black.svg') center / 100%;
    }
    &:hover:not(:has(.delete:hover)) {
        box-shadow: inset 0 0 0 1px #005BFF;
    }
}
.delete {
    width: 32px;
    height: 32px;
    background: #EEE url('./images/cross.svg') center / 50% no-repeat;
    border: 1px solid #AAA;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
        background-color: #DDD;
        border: 1px solid #005bff;
    }
    &:focus {
        outline: 2px solid #005BFF;
    }
}
.products {
    display: flex;
    gap: 15px;
    padding: 20px;
    overflow-x: auto;
    text-align: left;
}