.filters {
    position: fixed;
    top: 70px;
    left: 20px;
    width: 250px;
    padding: 20px;
    border: 1px solid #005bff;
    border-radius: 15px;
}
.title {
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
}
.filter {
    display: flex;
    gap: 5px;
    margin-top: 5px;
    white-space: nowrap;
}
.control {
    width: 100%;
}