.filters {
    position: fixed;
    top: 70px;
    left: 20px;
    width: 250px;
    padding: 20px;
    border: 1px solid #005bff;
    border-radius: 15px;
}
.title {
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
}

.goods {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: 70px 30px 30px 290px;
}

.good {
    width: 200px;
    height: 300px;
    padding: 10px;
    border-radius: 15px;
    color: black;
    box-shadow: 0 0 5px #777;
    text-decoration: none;
    transition: box-shadow 0.2s;

    &:hover {
        box-shadow: 0 0 7px #777;
    }
}
.img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    width: 180px;
    height: 180px;
    background: #EFEFEF;
    box-shadow: 0 0 3px #777;
    border-radius: 10px;
    overflow: hidden;
}
.img {
    max-width: 100%;
    max-height: 100%;
}
.name {
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin: 5px 0;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.info {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &::before {
        content: '';
        display: inline-block;
        width: 16px;
        height: 16px;
        background: url('./images/star-yellow.svg');
    }
}
.price {
    font-size: 20px;
    margin-top: 5px;
}