@font-face {
    font-family: 'Inter';
    src: url('./Inter.ttf') format('truetype');
}

* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100px;
    width: 100%;
    height: 50px;
    padding: 0 20px;
    transition: top 250ms ease-in-out, background 250ms ease-in-out;

    &.searching {
        top: 0;
        background: #5588FF;

        .logo, .shops-container {
            display: none;
        }
        .favorite-star {
            display: block;
        }
    }
}

.logo {
    position: absolute;
    top: -100px;
    color: #005BFF;
    font-size: 50px;
}

.search {
    z-index: 1;
    width: 100%;
    max-width: 500px;
    padding: 10px;
    border: 1px solid #AAA;
    border-radius: 15px;

    &:hover {
        border-color: #005BFF;
    }
    &:focus {
        border-color: #005BFF;
        box-shadow: inset 0 0 0 1px #005BFF;
        outline: none;
    }
}
.favorite-star {
    display: none;
    width: 32px;
    height: 32px;
    margin-left: 5px;
    background: url('./images/star-unfilled.svg') center / 75% no-repeat;
    border: none;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
        background-color: rgba(0, 0, 0, 0.25);
    }
    &:focus {
        outline: 2px solid #005BFF;
    }
    &.favorited {
        background-image: url('./images/star-filled.svg');
    }
}

.filters {
    position: fixed;
    top: 70px;
    left: 20px;
    width: 250px;
    padding: 20px;
    border: 1px solid #005bff;
    border-radius: 15px;
}
.title {
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
}

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: 70px 30px 30px 290px;
}

.shops-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 45px;
    padding: 20px;
    font-size: 14px;
    font-weight: bold;
}
.shops {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.shop {
    width: 50px;
    height: 50px;
    background-size: 100%;
    transition: transform 0.2s;

    &:hover {
        transform: scale(1.1);
    }
}
.joom {
    composes: shop;
    background-image: url('./images/joom.svg');
}
.ozon {
    composes: shop;
    background-image: url('./images/ozon.svg');
}
.wildberries {
    composes: shop;
    background-image: url('./images/wildberries.svg');
}