@font-face {
    font-family: 'Inter';
    src: url('./Inter.ttf') format('truetype');
}

* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 100px;
    width: 100%;
    height: 50px;
    transition: top 250ms ease-in-out, background 250ms ease-in-out;

    &.searching {
        top: 0;
        background: #5588FF;

        .logo, .info {
            display: none;
        }
    }
}

.logo {
    position: absolute;
    top: -100px;
    color: #005bff;
    font-size: 50px;
}

.search {
    box-sizing: initial;
    z-index: 1;
    width: 100%;
    max-width: 800px;
    margin: 0 20px;
    padding: 10px;
    border: 1px solid #AAA;
    border-radius: 15px;
    animation: all 1s;

    &:focus {
        border: 3px solid #005bff;
        outline: none;
    }
}

.info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 45px;
    max-width: 800px;
    padding: 20px;
}
.description {
    margin: 0;
    font-size: 14px;
}
.shops {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.shop {
    width: 50px;
    height: 50px;
    background-size: 100%;
    transition: transform 0.2s;

    &:hover {
        transform: scale(1.1);
    }
}
.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    color: #fff;
    background-color: #005bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 250ms ease-in-out, transform 150ms ease;

    &:hover {
        background-color: #0041cc;
        transform: scale(1.05);
    }

    &:active {
        background-color: #003399;
        transform: scale(0.95);
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 0 3px rgba(0, 91, 255, 0.5);
    }
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #005bff;
    color: #fff; //Тут для белого текста
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    z-index: 2; //другие элементы

    .filter-title {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .filter-item {
        margin-bottom: 15px;
    }

    .filter-checkbox {
        margin-right: 10px;
    }
}
.joom {
    composes: shop;
    background-image: url('./images/joom.svg');
}
.ozon {
    composes: shop;
    background-image: url('./images/ozon.svg');
}
.wildberries {
    composes: shop;
    background-image: url('./images/wildberries.svg');
}

.goods {
    max-width: 850px;
    margin: 30px auto 0;
    padding: 20px;
}